@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');
* {
    margin: 0;
    outline: none;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(to left, green, white)
}

.calculator-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: brown;
}
.calculator-container>button {
    outline: none;
    border: 1px solid white;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 10px;
}

.calculator-container>button:hover {
    background: white;
}

.span-2 {
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: aqua;
}

.prior-output, .current-output{
    width: 100%;
    text-align: right ;
    color: rgba(15, 15, 15, .75);
}
.prior-output{
    height: 3rem;
font-size: 2rem;
}
.current-output{
    font-size: 3rem;
    height: auto;
    word-wrap: break-word;
}